$fontSizeMain: 16px;
$fontSizeTitle: 20px;
$fontSizeInput: 14px;
$fontSizeError: 10px;

$lineHeightMain: 21.79px;
$lineHeightTitle: 23.44px;
$lineHeightInput: 16.41px;
$lineHeightError: 11.72px;

$textColorMain: #151317;
$textColorInput: #808185;
$colorInput: #f8f8f8;
$colorButton: #512689;
$colorButtonActive: #623b94;
$errorTextColor: #ff6161;
$textColorButton: white;

.registration {
    display: grid;
    height: 519px;
    width: 500px;
    margin-top: 253px;
    margin-left: 470px;
    border-radius: 16px;
    gap: 24px;
    padding-left: 32px;
    padding-top: 16px;
    box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 8%);
    font-size: $fontSizeMain;
    line-height: $lineHeightMain;
    &__dataEntry {
        display: grid;
        height: 415px;
        width: 468px;
        gap: 16px;
        &__title {
            height: 23px;
            line-height: $lineHeightTitle;
            font-size: $fontSizeTitle;
        }
        &__block {
            display: grid;
            height: 78px;
            gap: 8px;
            &__title {
                height: 22px;
                border: 0 10px 10px 0;
            }
            &__input {
                height: 48px;
                border-radius: 8px;
                background-color: $colorInput;
                &__text {
                    width: 400px;
                    padding: 12px 8px 0 16px;
                    color: $textColorInput;
                }
                &__eye {
                    cursor: pointer;
                    position: absolute;
                    margin-top: 12px;
                }
                &__errorTextNone {
                    display: none;
                }
                &__errorTextBlock {
                    margin-top: 20px;
                    display: block;
                    color: $errorTextColor;
                    font-size: $fontSizeError;
                    line-height: $lineHeightError;
                }
            }
            &__inputFalls {
                height: 48px;
                border-radius: 8px;
                background-color: $colorInput;
                border: 1px solid red;
            }
        }
    }
    &__button {
        display: flex;
        height: 48px;
        width: 468px;
        gap: 16px;
        border-radius: 8px;
        background: $colorButton;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 1s;
        &__text {
            cursor: pointer;
            height: 22px;
            width: 156px;
            color: $textColorButton;
        }
    }
    &__button:hover {
        background: $colorButtonActive;
        box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 8%);
    }
}

@media (max-width: 375px) {
    .registration {
        width: 375px;
        margin-top: 64px;
        &__dataEntry {
            height: 415px;
            width: 343px;
            &__block {
                &__input {
                    width: 300px;
                }
            }
        }
        &__button {
            width: 343px;
            height: 48px;
        }
    }
}
